@charset "UTF-8";
@font-face {
    font-family: 'mario';
    src: url("../fontes/Mario-Kart-DS.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

:root {
    --azul: #5881b3;
    --verde-claro: #A9CF54;
    --verde-grama: #588F27;
    --verde-escuro: #044D29;
    --bege1: #F3FFB1;
    --bege2: #D7EB7F;

    --amarelo: #F7E967;
    --azulin: #a7d3b3;
    --azul-agua: #04BFBF;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: wheat url("../imagens/wallpaper01.jpg") center center fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    min-width: 300px;
    background-image: linear-gradient(to bottom, var(--verde-grama), var(--verde-escuro));
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > h1 {
    font: normal bold 5em mario, arial;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px black;
}

header > p {
    font: normal 1.5em arial, 'sans serif';
    min-width: 300px;
    max-width: 400px;
    display: block;
    margin: auto;
    text-shadow: 1px 1px 1px black;
}

nav {
    background-color: var(--verde-escuro);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    font: normal bold 14px arial, 'sans serif';
    padding: 10px;
}

nav > a:hover {
    background-color: rgb(255, 255, 255);
    color: var(--azul);
    transition-duration: 0.5s;
}

main {
    background-color: rgba(255, 255, 255, 0.575);
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.349);
}

main h1 {
    font: normal bold 2em cursive, arial, 'sans serif';
    text-indent: 30px;
    color: var(--verde-escuro);
    background-image: linear-gradient(to right, rgba(164, 250, 164, 0.945), transparent);
    margin-bottom: 10px;
    border-radius: 20px 0px 0px 20px;
}

main h2 {
    font: normal bold 1.5em cursive, arial, 'sans serif';
    background-color: var(--verde-escuro);
    color: white;
    width: max-content;
    margin-left: -12px;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 0px 12px 0px 0px;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.274);
    margin-top: 50px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main small {
    font-size: 0.6em;
}

main a.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--verde-escuro);
}

main a.link:hover {
    text-decoration: underline;
    color: var(--azul);
}

img {
    max-width: 850px;
    min-width: 400px;
    padding: 30px 0px;
    display: block;
    margin: auto;
}

img.pequeno {
    min-width: 100px;
    width: 100%;
}

div.video {
    background-color: var(--verde-escuro);
    box-shadow: 3px 8px 9px rgba(0, 0, 0, 0.212);
    margin: 0px -12px 30px -12px;
    padding: 12px;

    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--azulin);
    border-radius: 12px 12px 12px 12px;
    padding-bottom: 12px;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.212);
    margin-bottom: 20px;
}

aside h3 {
    background-color: var(--verde-escuro);
    color: white;
    font: normal bold 1.3em cursive, arial, 'sans serif';
    text-indent: 30px;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 20px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    text-indent: 40px;
    columns: 2;
}

aside a {
    text-decoration: none;
}

aside a:hover {
    color: var(--azul);
    text-decoration: underline;
}

footer {
    background-color: var(--verde-escuro);
    margin-top: 30px;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--azul);
}